

body{
    background-image: linear-gradient(to right, #f858b3, #9d9c27);
    font-family:sans-serif;
}

header{
    margin-top:30px;
    border-bottom: solid white 5px;
    width:100%;
    display:inline-flex;
}

h1{
    font-size: 50px;
    font-family:sans-serif;
}

h2.left{
    border: whitesmoke solid 5px;
    padding: 10px;
    font-style: italic;
    font-size: 30px;
    float:left;
    margin:0;
}

ul{
    list-style:none;
    gap: 40px;
    font-size: 30px;
}
section{
    margin-left:auto;
    margin-right:auto;
    padding-top: 100px;
    padding-bottom: 50px;
}

footer{
}

a{
    color:black;
}

a img{
    opacity:1;
    transition: 0.3s ease;
}

nav ul{
    display:inline-flex;
    position:absolute;
    right:35px;
    top:42px;   
}

.section1{
    display:block;
}

.section3{
    padding-top: 100px;
    font-size:20px;
    text-align:center;
    height: 100px;   
}

.center{
    min-width:800px;
    margin-left:20%;
    margin-right:20%;
}

.p{
    font-size: 20px;
    font-style: italic;
}

.big{
    /* padding: 25px; */
    display:flex;
    justify-content:center;
}

.small{
    padding-top: 25px;
    display:flex;
    justify-content: space-evenly;
}


.list{
    padding-bottom: 50px;
    list-style:none;
    display: inline-flex;
    gap: 50px;    
}

 .p .img1 {
    
}

#img1{
    margin-left:25%;
    height:400px;
    width:400px;
    border-radius:200px;
    
}

#project1{
    height:200px;
    width:600px;
}

#project2, #project3, #project4{
    height:200px;
    width:400px;
    display:inline;
}

a:visited{
    color:grey;
    text-decoration:none;
}

a:hover{
    background-color: #f80790be;
}

a:hover img{
    content: "click to see project";
    opacity:0.5;
}



